### List
1. Use numbers to index into a list, meaning you can use numbers to find out whatâ€™s in lists. 
2. List uses square brackets.

In [5]:
clothes = ['shirts', 'jacket', 'pants', 'shorts']
scores = [99, 86, 79, 91, 88]

In [6]:
print(clothes)

['shirts', 'jacket', 'pants', 'shorts']

In [2]:
president1 = ["George Washington", 1789, 1797]
print(president1)

['George Washington', 1789, 1797]

In [3]:
president2 = ["John Adams", 1797, 1801]
president3 = ["Thomas Jefferson", 1801, 1809]

presidents = [president1, president2, president3]
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [7]:
# indexing

print(clothes)
cloth = clothes[0]
print(cloth)

['shirts', 'jacket', 'pants', 'shorts']
shirts

In [8]:
len(clothes)

4

In [9]:
clothes[4]

IndexError: list index out of range

In [10]:
print(clothes)
clothes[3] = "coat"
print(clothes)

['shirts', 'jacket', 'pants', 'shorts']
['shirts', 'jacket', 'pants', 'coat']

In [12]:
print(clothes)
clothes[3] = ["president1", "abc"]
print(clothes[3])
print(clothes)

['shirts', 'jacket', 'pants', ['president1', 'abc']]
['president1', 'abc']
['shirts', 'jacket', 'pants', ['president1', 'abc']]

In [13]:
print(clothes[3])
a = clothes[3]
print(a[1])
print(clothes[3][1])

['president1', 'abc']
abc
abc

In [16]:
# slicing

print(scores)
new_scores = scores[1 : 3]
print(new_scores)

[99, 86, 79, 91, 88]
[86, 79]

In [17]:
print(presidents)
person = presidents[1]
print(person)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]
['John Adams', 1797, 1801]

In [18]:
print(person[0])
print(presidents[1][0])

John Adams
John Adams

In [19]:
print(presidents[0:2][0])   # why?

['George Washington', 1789, 1797]

In [23]:
print(presidents[0:2])
print(presidents[0:1])

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801]]
[['George Washington', 1789, 1797]]

In [26]:
# remember, indexing returns an item

# squares = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81]
print(squares[0])
print(squares[-1])

1
81

In [27]:
# slicing returns a new list
# returns a list starting at index -3 to last element of list
print(squares[-3:])

[49, 64, 81]

In [29]:
# returns a list starting at index 7 to the last element of list
print(squares[7:])

[64, 81]

In [30]:
# returns a list from index 0 to end index (non inclusive)
print(squares[:-3])

[1, 4, 9, 16, 25, 36]

In [33]:
# remember, slicing - [start(inclusive) : end (exclusive) : step (default is 1)]
# squares = [1, 4, 9, 16, 25, 36, 49, 64, 81]

print(squares[:: 1])

# returns a list from index 0 to the last element but backward by 1
print(squares[:: -1])

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [34]:
# returns a list from index 0 to the last element but every 3 elements
print(squares[:: 3])

[1, 16, 49]

In [35]:

print(squares)

# returns a list from index 2 to index 6
print(squares[2:7])
# returns a list from index 2 to index 6 every 2 elements
print(squares[2:7:2])

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[9, 16, 25, 36, 49]
[9, 25, 49]

In [37]:
print(squares)             # original list
print(squares[::-1])       # reversed order

# return a list from index 0 to index 1, but in reverse 
print(squares[:2:-1])      # squares[2] == 9, not inclusive
                           # squares[8], [7], ... [4], [3]

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[81, 64, 49, 36, 25, 16, 9, 4, 1]
[81, 64, 49, 36, 25, 16]

In [43]:
print(squares)             # original list
print(squares[::-2])       # reversed order, every other item
print(squares[:2:-2])      # squares[2] == 9, not inclusive
                           # squares[8], squares[6], squares[4]

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[81, 49, 25, 9, 1]
[81, 49, 25]

In [42]:
temp = ['a', 'b', 'c', 12, 9, 10]
print(temp[:: -1])
print(temp[:2:-1])
print(temp[2])

[10, 9, 12, 'c', 'b', 'a']
[10, 9, 12]
c

In [44]:
# initialize list
shopping = []
scores = [0] *10
names = [""] *5
chars = "" *5

In [45]:
print(f"{shopping} has a length of {len(shopping)}")
print(f"{scores} has a length of {len(scores)}")
print(f"{names} has a length of {len(names)}")
print(f">>>{chars}<<< has a length of {len(chars)}")

[] has a length of 0
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0] has a length of 10
['', '', '', '', ''] has a length of 5
>>><<< has a length of 0

In [51]:
person = "George Washington, 1789, 1797"
person_list = person.split()
print(person_list)
print(person.split(", "))

['George', 'Washington,', '1789,', '1797']
['George Washington', '1789', '1797']

In [47]:
person.split("7")

['George Washington, 1', '89, 1', '9', '']

In [49]:
"George Washington, 1789, 17973".split("7")

['George Washington, 1', '89, 1', '9', '3']

In [54]:
person.split(", ", 2)

['George Washington', '1789', '1797']

In [55]:
person.split(", ", 1)

['George Washington', '1789, 1797']

In [56]:
person.split(",", 1)[0]

'George Washington'

In [57]:
person.split(",", 1)[1]

' 1789, 1797'

In [58]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split()
print(msg_list)

["I'm", 'just', 'a', 'simple', 'man', 'trying', 'to', 'make', 'my', 'way', 'in', 'the', 'universe.']

In [59]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split('m')
print(msg_list)

["I'", ' just a si', 'ple ', 'an trying to ', 'ake ', 'y way in the universe.']

In [60]:
len(msg_list)

6

In [61]:
msg = "I'm just a simple man trying to make my way in the universe."
msg_list = msg.split(' ', 3)
print(msg_list)
print(len(msg_list))
print(msg_list[0])
print(msg_list[1])
print(msg_list[2])
print(msg_list[3])
print()

print(msg.split(' ',3)[1:3])

["I'm", 'just', 'a', 'simple man trying to make my way in the universe.']
4
I'm
just
a
simple man trying to make my way in the universe.

['just', 'a']

### Exercise 1
Find the fourth word in a phrase, "Python is a great first language". 
First, split "Python is a great first language" into a list and then display the fourth word.

In [62]:
word_list = "Python is a great first language.".split()
print(word_list[3])

great

### List Methods 
add item to a list

In [63]:
print(squares)
squares[len(squares)] = 100

[1, 4, 9, 16, 25, 36, 49, 64, 81]

IndexError: list assignment index out of range

In [64]:
# list method - append()

squares.append(100)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
items = ["shirts", "hat", "shoes"]
items.append(99)
print(items)

['shirts', 'hat', 'shoes', 99]

In [66]:
print(presidents)

[['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [67]:
person = []
person.append("James Monroe")
person.append(1817)
person.append(1825)
print(person)

['James Monroe', 1817, 1825]

In [ ]:
presidents.append(person)
print(presidents)

In [ ]:
person = []
person.append(1809)
person.append(1817)
print(person)

In [ ]:
# list method - insert()

person.insert(0, "James Madison")
print(person)

In [ ]:
print(presidents)

In [ ]:
presidents.insert(3, person)
print(presidents)

In [ ]:
# list method - extend()

names = ['George Washington', 'John Adams', 'Thomas Jefferson']
more_names = ['James Madison', 'James Monroe']

org_names = names.copy()

names.extend(more_names)

print(f"org_names:  {org_names}")
print(f"names:      {names}")
print(f"more_names: {more_names}")

In [68]:
more_names.append("test")

print(f"org_names:  {org_names}")
print(f"names:      {names}")
print(f"more_names: {more_names}")

NameError: name 'more_names' is not defined

In [69]:
spring = ["March", "April", "May"]
summer = ["June", "July", "Aug"]
fall = ["September", "October", "November"]
winter = ["December", "January", "February"]

year = spring.copy()
#year = spring
year.extend(summer)
year.extend(fall)
year.extend(winter)

print(year)
print(spring)

['March', 'April', 'May', 'June', 'July', 'Aug', 'September', 'October', 'November', 'December', 'January', 'February']
['March', 'April', 'May']

In [70]:
print(spring, summer, fall, winter)

['March', 'April', 'May'] ['June', 'July', 'Aug'] ['September', 'October', 'November'] ['December', 'January', 'February']

In [71]:
spr = spring.copy()
spr.extend("June")
print(spr)     # what do you think?

['March', 'April', 'May', 'J', 'u', 'n', 'e']

In [ ]:
spr = spring.copy()
spr.extend(["June"])
print(spr)

In [ ]:
# list method - index()
print(person)
print(person.index("James Madison"))

In [ ]:
person.index(1809)

In [ ]:
person.index(1819)

In [ ]:
print(squares)
print(squares.index(100))

In [ ]:
print(person)
print(presidents.index(person))
print(presidents)

In [ ]:
print(presidents.index(['James Madison', 1809, 1817]))

In [ ]:
print(presidents.index(['james madison', 1809, 1817]))

In [ ]:
scores = [100, 99, 89, 99, 78]
print(scores.index(99))

In [ ]:
# list method - copy()

clothes = ['shirts', 'jacket', 'pants', 'shorts']
org_clothes = clothes
clothes.append('coat')

In [ ]:
print(clothes)
print()
print(org_clothes)

In [ ]:
clothes = ['shirts', 'jacket', 'pants', 'shorts']
org_clothes = clothes.copy()
clothes.append('coat')

print(clothes)
print()
print(org_clothes)

### Exercise 2
    1. Ask a user for 2 numbers. 
    2. Generate 5 random numbers between those 2 numbers and save it to a list called nos1. 
    3. Generate 3 random numbers between those 2 numbers and save it to a list called nos2. 
    4. Make a copy of nos1 and save it to variable called all_nos.
    5. Extend nos2 to the end of nos1.
    6. Print original 5 random numbers, 3 random numbers, and all 8 numbers.

In [102]:
# ask a user for 2 numbers - do you need to import anything?
import random

first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))

Enter first number: 1
Enter second number: 100

In [103]:
# generate 5 random numbers between those 2 numbers and save it to a list called nos1
nos1 = []
for _ in range(5):
    nos1.append(random.randint(first_number, second_number))
    
print(nos1)

[58, 12, 40, 5, 8]

In [104]:
# generate 3 random numbers between those 2 numbers and save it to a list called nos2
nos2 = []
for _ in range(3):
    nos2.append(random.randint(first_number, second_number))

print(nos2)

[20, 25, 5]

In [105]:
# copy nos1 and save to all_nos variable
all_nos = nos1.copy()
print(all_nos)

[58, 12, 40, 5, 8]

In [106]:
# extend nos2 to the end of all_nos
all_nos.extend(nos2)
print(all_nos)

[58, 12, 40, 5, 8, 20, 25, 5]

In [107]:
# print original 5 random numbers, 3 random numbers, and all 8 numbers

print(f"5 random numbers: {nos1}")
print(f"3 random numbers: {nos2}")
print(f"All random numbers: {all_nos}")

5 random numbers: [58, 12, 40, 5, 8]
3 random numbers: [20, 25, 5]
All random numbers: [58, 12, 40, 5, 8, 20, 25, 5]

### List Methods
remove item in a list

In [2]:
# pop()

clothes = ['shirts', 'jacket', 'pants', 'shorts', 'coat']
org_clothes = clothes.copy()
x = clothes

In [3]:
item = clothes.pop()
print(item)
print(clothes)

coat
['shirts', 'jacket', 'pants', 'shorts']

In [4]:
item = clothes.pop(2)
print(item)
print(clothes)

pants
['shirts', 'jacket', 'shorts']

In [5]:
# remove()

clothes.remove("jacket")
print(clothes)

['shirts', 'shorts']

In [6]:
clothes.append(item)
clothes.insert(1, item)
clothes.append(item)
print(clothes)

['shirts', 'pants', 'shorts', 'pants', 'pants']

In [7]:
clothes.remove("pants")
print(clothes)

['shirts', 'shorts', 'pants', 'pants']

In [8]:
clothes.remove("jacket")

ValueError: list.remove(x): x not in list

In [9]:
print(org_clothes)
print(x)
print(clothes)

['shirts', 'jacket', 'pants', 'shorts', 'coat']
['shirts', 'shorts', 'pants', 'pants']
['shirts', 'shorts', 'pants', 'pants']

In [10]:
"aple" in "apple pie"

False

In [11]:
# count()

"pants" in clothes

True

In [12]:
clothes.count("pants")

2

In [13]:
clothes.count("jacket")

0

In [14]:
# list method: sort()
names = ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']
org_names = names.copy()
names.sort()

print(f"names:     {names}")
print(f"org_names: {org_names}")

names:     ['$', '1', '9', 'Count', 'big bird', 'count', 'elmo']
org_names: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']

In [15]:
names = org_names.copy()
names.sort(reverse=True)

print(f"names:     {names}")
print(f"org_names: {org_names}")

names:     ['elmo', 'count', 'big bird', 'Count', '9', '1', '$']
org_names: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']

In [16]:
# sorted() built-in function

names = org_names.copy()
print(f"Before: {names}")
ordered = sorted(names)
print(f"After:  {ordered}")

Before: ['elmo', 'big bird', '1', '9', '$', 'count', 'Count']
After:  ['$', '1', '9', 'Count', 'big bird', 'count', 'elmo']

In [17]:
president1 = ['George Washington', 1789, 1797]
print(f"Before: {president1}")
ordered = sorted(president1)
print(f"After:  {ordered}")

Before: ['George Washington', 1789, 1797]

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
presidents = [['George Washington', 1789, 1797], 
              ['Thomas Jefferson', 1801, 1809], 
              ['John Adams', 1797, 1801]]

print(f"Before: {presidents}")
ordered = sorted(presidents)
print(f"After:  {ordered}")

Before: [['George Washington', 1789, 1797], ['Thomas Jefferson', 1801, 1809], ['John Adams', 1797, 1801]]
After:  [['George Washington', 1789, 1797], ['John Adams', 1797, 1801], ['Thomas Jefferson', 1801, 1809]]

In [22]:
l1 = [ 1, 11, 111]
l2 = [1, 12]
l3 = [1, 12, '124']

test = [l2, l1, l3]
org_test = test.copy()

In [23]:
print(f"Before: {test}")
ordered = sorted(test)
print(f"After:  {ordered}")

Before: [[1, 12], [1, 11, 111], [1, 12, '124']]
After:  [[1, 11, 111], [1, 12], [1, 12, '124']]

In [24]:
def replace(arg) :
    arg = arg * 2
    return arg

a = 10
b = replace(a)
print(a, b)

10 20

In [25]:
# list is a mutable data type

def replace(sample, index) :
    sample[index] = '*'
    
orig = [1, 2, 3]
print(orig)
replace(orig, 1)
print(orig)

[1, 2, 3]
[1, '*', 3]

In [26]:
def xfer(arg1, arg2) :
    print(f"entered xfer():arg1={arg1}, arg2={arg2}")
    temp = arg1
    arg1 = arg2
    arg2 = temp
    print(f"exiting xfer():arg1={arg1}, arg2={arg2}")
    
x = 5
y = [1, 2, 3]
xfer(x, y)

print(x, y, sep="\n")

entered xfer():arg1=5, arg2=[1, 2, 3]
exiting xfer():arg1=[1, 2, 3], arg2=5
5
[1, 2, 3]

In [27]:
# data types (integer, float, string) are not mutable but list is 


def xfer2(arg1, arg2) :
    print(f"entered xfer2():arg1={arg1}, arg2={arg2}")
    arg1 *= 2
    arg2[0] = arg1
    print(f"exiting xfer2():arg1={arg1}, arg2={arg2}")
    
    
x = 5
y = [1, 2, 3]
xfer2(x, y)

print(f"\nx={x} y={y}")

entered xfer2():arg1=5, arg2=[1, 2, 3]
exiting xfer2():arg1=10, arg2=[10, 2, 3]

x=5 y=[10, 2, 3]

### Exercise 3
Get 7 book tittles from a user and save it in a list.
Then, remove the title in the middle of the list after sorting them alphabetically. 
Display the original tittles, sorted tittles, and titles after removing one.

In [60]:
titles_list = []
print("Please Enter 7 book titles\n")
for i in range(7):
    title = input("Enter a title: ")
    titles_list.append(title)

Please Enter 7 book titles

Enter a title: The Four Winds
Enter a title: The Lost Apothecary
Enter a title: The Push
Enter a title: Klara And The Sun
Enter a title: The Paris Library
Enter a title: Malibu Rising
Enter a title: The Rose Code
['The Four Winds', 'The Lost Apothecary', 'The Push', 'Klara And The Sun', 'The Paris Library', 'Malibu Rising', 'The Rose Code']

In [66]:

sorted_titles = titles_list.copy()

sorted_titles = sorted(sorted_titles)

removed_middle_titles = sorted_titles.copy()

removed_middle_titles.pop(len(removed_middle_titles) // 2)


print("Original Title List: ")
for i in titles_list:
    print(i)
    
print("\nSorted Title List: ")
for i in sorted_titles:
    print(i)
    
print("\nTitle List with Middle Removed: ")
for i in removed_middle_titles:
    print(i)

Original Title List:
The Four Winds
The Lost Apothecary
The Push
Klara And The Sun
The Paris Library
Malibu Rising
The Rose Code

Sorted Title List:
Klara And The Sun
Malibu Rising
The Four Winds
The Lost Apothecary
The Paris Library
The Push
The Rose Code

Title List with Middle Removed:
Klara And The Sun
Malibu Rising
The Four Winds
The Paris Library
The Push
The Rose Code

### Tuple

In [28]:
week = ('M', 'T', 'W', 'Th', 'F', 'Sa', 'Su')
print(week[3])

Th

In [29]:
print(week[-2])

Sa

In [30]:
print(week[::2])

('M', 'W', 'F', 'Su')

In [31]:
hobbies = ("hiking", "tennis", "foodie")
print(hobbies[2])
print(hobbies[5])

foodie

IndexError: tuple index out of range

In [32]:
hobbies[2] = "binge watching"
print(hobbies)

TypeError: 'tuple' object does not support item assignment

In [33]:
# empty tuple

items = ()
print(type(items))
print(len(items))

<class 'tuple'>
0

In [34]:
items2 = ("one")
print(type(items2))
print(len(items2))

<class 'str'>
3

In [36]:
# tuple with one item

items3 = ("one",)
print(type(items3))
print(len(items3))

<class 'tuple'>
1

In [35]:
# tuple with multiple items

items4 = ("one", "two",)
print(type(items4))
print(len(items4))

<class 'tuple'>
2

In [37]:
scores = (99, 87, 79, 88, 88, 100)
names = ("Rachel", "Monica", "Phoebe", "Joey", "Chandler", "Ross")
sample = ("jacket", "M", 20, 9.99)

print(scores)
print(names)
print(sample)

(99, 87, 79, 88, 88, 100)
('Rachel', 'Monica', 'Phoebe', 'Joey', 'Chandler', 'Ross')
('jacket', 'M', 20, 9.99)

In [42]:
demo = tuple(('3-22', '4-30', '5-11', '12-18'))
print(demo)
print(type(demo))
print(len(demo))

('3-22', '4-30', '5-11', '12-18')
<class 'tuple'>
4

In [44]:
demo2 = list(('3-22', '4-30', '5-11', '12-18'))
print(demo2)
print(type(demo2))
print(len(demo2))

['3-22', '4-30', '5-11', '12-18']
<class 'list'>
4

In [45]:
# list() & tuple() built-in function

hobbies_list = list(hobbies)
print(hobbies)
print(hobbies_list)

('hiking', 'tennis', 'foodie')
['hiking', 'tennis', 'foodie']

In [46]:
hobbies_list[2] = "binge watching"
print(hobbies_list)

['hiking', 'tennis', 'binge watching']

In [47]:
hobbies_tuple = tuple(hobbies_list)
print(hobbies_list)
print(hobbies_tuple)

['hiking', 'tennis', 'binge watching']
('hiking', 'tennis', 'binge watching')

In [48]:
range(1, 5)

range(1, 5)

### Repetition Statement - Loop

In [49]:
# counter loop

for item in [1, 2, 3, 4, 5] :
    print(item)

1
2
3
4
5

In [50]:
print(clothes)
for item in clothes :
    print(f"I have {item}")

print("Done!")

['shirts', 'shorts', 'pants', 'pants']
I have shirts
I have shorts
I have pants
I have pants
Done!

In [51]:
for item in (1, 2, 3, 4, 5) :
    print(item)
    
print("Done!")

1
2
3
4
5
Done!

In [52]:
for item in "apple" :
    print(item)
    
print("Done!") 
print(item)

a
p
p
l
e
Done!
e

In [53]:
item = 'a'
print(item)
item = 'p'
print(item)

a
p

In [54]:
# range() built-in function

for item in range(1, 11) :
    print(item)

1
2
3
4
5
6
7
8
9
10

In [55]:

for item in range(1, 11, 2) :
    print(item)

1
3
5
7
9

In [56]:
dwarves = ["Happy", "Grumpy", "Sleepy", "Bashful", "Sneezy", "Doc", "Dopey"]

print(f"\nThere are {len(dwarves)} dwarves and Snow White")
for dwarf in dwarves : 
    print(dwarf)

There are 7 dwarves and Snow White
Happy
Grumpy
Sleepy
Bashful
Sneezy
Doc
Dopey

### Exercise 4
If you save $1,000 every year with 1% annual interest, how much would you save in 5 years?

Fix code in below cell and show it works.

In [76]:
# original

rate = 1.01
savings = 0

for i in range(1, 6) :
    savings = savings + 1000 
    savings = savings * rate

print("${0:,.2f}".format(savings))

$5,152.02

In [79]:
# original

rate = 1/100  # 0.01
savings = 0
total = 0

for i in range(1, 6) :
    savings = total + 1000 
    total = (savings * rate)  + savings

print(f"${total:,.2f}")

$5,152.02

1010
1010 + 1000 + (1010+1000)* 0.01